
body{
    background: url(./img/fon2.jpg)  100% 100%  ; /* Параметры фона */    
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1em;
    color: rgb(211, 228, 243);
}
a {
text-decoration: none;
}
button{
    font-size: 8px;
    height: 20px;
    margin: 2px;

}
input[type=text]{
    height:20px;
 }
 input[type=color]{
    height:17px;
 }

.car_button_div{
  height: 70px;
  width: 99%;
    
    border: rgb(249, 243, 247);
    border-style: dashed;
}
li{
    list-style-type: none;
}
.cars {
    margin-top: 50px;
}
.cars li{
    margin-top: 15px;
}
 .car_img{
    
    position: absolute;
    height: 7%;
    width: 7%;
   
    vertical-align: middle;
    stroke: #e74b0e;
    stroke-width: 2px;
    fill: rgb(231, 28, 28);

}
.car_button_div .car_svg{
    display: flex;
    justify-content: space-between;
}
.car_button_div .car_svg .finish{
    position: absolute;
    right: 10%;
    height: 4%;
    width: 3%;
}
.button_active{
    background-color: #e74b0e;
}